body {
  background-color: #fff5e1;
  font-family: Arial, sans-serif;
  color: #6b4226;
}

.recipe-title {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 2.5rem; /* Responsive size */
}

.section-title {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 1.75rem; /* Responsive size */
  margin-top: 30px;
}
.cake-img {
  width: 100%;
  height: 500px;
  border-radius: 100px;
}
.ingredient-list,
.instruction-list {
  margin: 20px 0;
  padding-left: 0; /* Remove left padding for better responsiveness */
}

.instruction-list li {
  margin-bottom: 10px;
}
